body {
  background-color: #282c34;
  margin: 0;
}

.app-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 10px 0;
}

#background {
  background-image: url(https://i.kym-cdn.com/entries/icons/original/000/000/673/maxresdefault.jpg);
  background-size: cover;
	z-index: 1;
  margin: 0 auto;
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#textbubble {
  color: black;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  z-index: 2;
  position: relative;
  top: 30px;
  left: 400px;
}
