body {
  background-color: #282c34;
  margin: 0;
}

.app-header {
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  padding: 10px 0;
}

.background {
	z-index: 1;
  margin: 0 auto;
  height: 80vh;
  display: flex;
  justify-content: center;
}
